
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    background-color: beige;
    color:black;
    padding: 8m;
    font: bolder;
    border-radius: 20px;
}
img {
    display: block;
    margin:auto;
    border-radius:20px;
}
h2 {
    margin: 20px 0;
    background-color:antiquewhite;
    border-radius: 10px;
    text-align: center;

}
select{
    text-align: center;
    font-size: 16px;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}
section{
    text-align: center;
    justify-self: auto;
    background-color: gray;
    border: 1px  black;
    border-radius: 10px;
    padding: auto;

}
video{
    border-radius: 10px;
}
table {
    width:65%;
    border-collapse: collapse;
    margin: 5px;
    
}
.right-column {
    flex:1;
    padding: 20px;
    background-color: #ddd;
    border-left: 12px #ccc;
    border-radius: 10px;
}
.main-content {
    flex:3;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
}
.page-container {
    display: flex;
}


.search-container {
    position: relative;
    width: 100px;
    margin: 2px;
}




.search-input {
    width: 100%;
    padding: 15px 30px;
    border: 2px  #ccc;
    border-radius: 30px;
    font-size: 12px;
    font:bold;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

  
  
  
.search-input:focus {
    border-color: #0078d7;
}

  



.search-input:hover {
    border-color: #888;
  }