
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #ece6e4;
}

h1 {
    text-align: center;
    background-color: #0f0f77;
    color:white;
    padding: 8m;
    font: bolder;
    border-radius: 20px;
}

h2 {
    margin: 20px 0;
    background-color:#F5F5DC;
    border-radius: 10px;
    text-align: center;

}

.main-content {
    flex:3;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 15px;
}
.Appetizers {
    flex:3;
    padding: 20px;
    background-color: #5b9d67;
    border-radius: 15px;
    text-decoration-color:#5D4037 ;
    border-bottom: 10px;
    text-align: justify;
   
}
.main-courses {
    padding: 20px;
    border-top: 10px;
    background-color: #5b9d67;
    border-radius: 15px;
    text-decoration-color:#5D4037 ;
    text-align: justify;
    
}
.deserts{
    padding: 20px;
    text-align: justify;
    background-color: #5b9d67;
    border-radius: 15px;

}



